





body {
    margin-top: -1vh;
}

.story {
    background-color: rgb(117,141,167);
    background-image: url('../images/img_bigProfilePic.jpg');
    background-repeat: no-repeat;
    background-position: bottom right;
    background-size: 38% 98%;
    padding: 15% 0 15%;
    margin: -2% -1vw -1vh;
    border-bottom: 1.5vh solid rgb(117,141,167);
}

.border {
  margin: 0 -1vw 0;
  border-style: solid;
  border-width: 0 0 6vh;
  border-image-source: url(../images/img_bluePaint.jpg);
  border-image-slice: 400;
}

.storyTitle {
  background-color: black;
  padding-left: 4%;
  margin-right: 37%;
  margin-left: 6%;
  font-family: "Lucida Console", "Courier New", monospace;
  font-size: 5.5vw;
  color: rgb(117,141,167);
  border: 0.4vh double whitesmoke;
}

.renaissance {
  background-color: rgb(117,141,167);
  padding-left: 4%;
  margin-right: 37%;
  margin-left: 6%;
  margin-top: -4.5%;
  font-size: 3vw;
  border: 0.4vh double whitesmoke;
  border-top: hidden;
}

.experienced {
  margin-top: -1%;
  padding-left: 10%;
  font-size: 1.8vw;
  color: rgba(248, 245, 245, 0.767);
}

.logo {
  width: 5.5vw;
  height: 6.5vh;
  margin: 1.5vh 0.5vw;
}

header {
  background-color: rgb(252, 245, 221);
  display: grid;
  position: sticky;
  top: -1px;
  grid-template-columns: 30% 70%;
  width: 93.5%;
  margin: 0 -1vw;
  padding: 0 4vw;
  z-index: 1;
}

nav {
  background-color: rgb(247, 241, 214);
  display: flex;
  justify-content: flex-end;
  margin: -0.5vh 0 2vh -4vw;
  border-radius: 0.5vw;
  width: 100%;
  padding-right: 1vh 0 -1vh ;
}

nav > a {
  margin: 3vh 3vw 0.2vh;
  height: 1.5vh;
  width: 10vw;
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.4vw;
  border-radius: 15px;
  background: rgb(255, 252, 252, 0.3);
  padding: 0.9vw 0.9vw 1.4vw;
  text-align: center;
  border: 2px solid rgba(0, 0, 0, 0.027);
}

.has-border {
  border-radius: 25px;
  border: 2px solid #d9f5d8;
  background: rgba(149, 248, 157, 0.349);
  padding: 0.9vw 0.9vw 1.4vw;
}

.space {
  margin: 0 -1vw;
  padding: 2%;
  background-color: black;
}

.who {
  position: relative; 
  height: 80vh;
  width: 110%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 -1vw;
}

.who::before {
  content: "";
  background: url(../images/img_bluePaint.jpg);
  background-size: cover;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: 0.75;
}

.begin {
  position: relative;
  color: #ffffff;  
  font-size: 3vh;
  line-height: 110%;
  text-align: left;
  margin: 0 2vw;
  padding: 0 30vw 0 1vw;
}

.family {
  background: url(../images/img_familyPlus.JPG);
  background-size: auto 100% ;
  background-repeat: no-repeat;
  background-position: center right;
}

.stuff {
  background-color: rgb(95, 94, 94);
  box-sizing: border-box;
  padding: 20% 1%;
  margin: 0 -1vw;
}






