/* make contact form send messages to email */



body {
  background-image: url(../images/img_tscLogo.jpg);
  background-repeat: no-repeat;
  background-size: 95vw 90vh;
  background-position: center bottom;
  background-attachment: fixed;
  font-family: "Poppins";
  font-size: 22px;
}

.logo {
  width: 5.5vw;
  height: 6.5vh;
  margin: 1.5vh 0.5vw;
}

header {
  background-color: rgb(252, 245, 221);
  display: grid;
  position: fixed;
  grid-template-columns: 30% 70%;
  width: 93.5%;
  margin: -2vh -1vw;
  padding: 0 4vw;
}

nav {
  background-color: rgb(247, 241, 214);
  display: flex;
  justify-content: flex-end;
  margin: -2vh 0 2vh -4vw;
  border-radius: 0.5vw;
  width: 100%;
  padding-right: 1vh 0 -1vh ;
}

nav > a {
  margin: 3vh 3vw 0.2vh;
  height: 1.5vh;
  width: 10vw;
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.4vw;
  border-radius: 15px;
  background: rgb(255, 252, 252, 0.3);
  padding: 0.9vw 0.9vw 1.4vw;
  text-align: center;
  border: 2px solid rgba(0, 0, 0, 0.027);
}

.has-border {
  border-radius: 25px;
  border: 2px solid #d9f5d8;
  background: rgba(149, 248, 157, 0.349);
  padding: 0.9vw 0.9vw 1.4vw;
}

main {
  background-color: rgb(255, 255, 255);
  background: linear-gradient(180deg, rgb(255, 255, 255), rgba(255, 255, 255, 0.514));
  padding: 30vh 0 120vh;
}

.flex-container {
  background-color: rgba(255, 250, 240, 0.52);
  display: flex;
  padding: 3vh 2vw;
  font-size: 1.8vw;
  gap: 0.5vw;
}

h4 {
  text-align: center;
}

#media {
  background-color: rgba(245, 245, 245, 0.609);
  line-height: 5vh;
  padding: 0 1vw;
}

#media a {
  font-size: 1.6vw;
  display: block;
  padding: 0 0 1.5vh 0;
}


#abilities {
  background-color: rgba(245, 245, 245, 0.609);
  margin: -0.1vh 0;
  padding: 0 1vw;
  list-style-type: none;
}

#contact-form {
  background-color: rgba(245, 245, 245, 0.609);
  width: 60vw;
  padding: 0 1vw;
}

.container {
  padding: 1vh 1vw;
  box-sizing: border-box;
}

input[type="text"],
  select,
  textarea {
    resize: vertical;
    width: 100%;
  }

input[type="email"],
select,
textarea {
  resize: vertical;
  width: 100%;
}

@media (max-width: 777px) {

  nav > a {
    font-size: 2vw;
    padding: 1.5vh 0.9vw 4vh;
  }

  .flex-container {
    flex-wrap: wrap;
    text-align: center;
  }
    
  #media, #abilities, #contact-form {
    flex: 100%;
    font-size: 4vw;
  }

  #media a {
    font-size: 3vw;
    display: block;
  }

  br {
    display: none;
  }

}

@media (max-width: 550px) {
  
  nav > a {
    font-size: 4vw;
    padding: 1.5vh 5vw 6vh 0;
  }

  main {
    grid-template-columns: 1% 98% 1%;
  }

  #media, #abilities, #contact-form {
    font-size: 5vw;
  }

  #media a, #abilities li {
    font-size: 4vw;
  }

}


  
