.logo {
  width: 5.5vw;
  height: 6.5vh;
  margin: 1.5vh 0.5vw;
}

header {
  background-color: rgb(252, 245, 221);
  display: grid;
  position: fixed;
  grid-template-columns: 30% 70%;
  width: 93.5%;
  margin: -2vh -1vw;
  padding: 0 4vw;
}

nav {
  background-color: rgb(247, 241, 214);
  display: flex;
  justify-content: flex-end;
  margin: -2vh 0 2vh -4vw;
  border-radius: 0.5vw;
  width: 100%;
  padding-right: 1vh 0 -1vh;
}

nav > a {
  margin: 3vh 3vw 0.2vh;
  height: 1.5vh;
  width: 10vw;
  color: rgba(21, 32, 3, 0.85);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.4vw;
  border-radius: 15px;
  background: rgb(255, 252, 252, 0.3);
  padding: 1.5vh 0.9vw 2.5vh;
  text-align: center;
  border: 2px solid rgba(0, 0, 0, 0.027);
}

main {
    background-image: 
        repeating-linear-gradient(
            90deg,
            rgba(85, 107, 47, 0.65) 0%,
            rgba(85, 107, 47, 0.65) 8%,
            rgba(21, 32, 3, 0.85) 8%,
            rgba(21, 32, 3, 0.85) 15%,
            rgba(47, 79, 79, 0.65) 15%, 
            rgba(47, 79, 79, 0.65) 23%,
            rgba(21, 32, 3, 0.85) 23%,
            rgba(21, 32, 3, 0.85) 24%,
            rgba(47, 79, 79, 0.65) 24%, 
            rgba(47, 79, 79, 0.65) 25%, 
            rgba(21, 32, 3, 0.85) 25%,
            rgba(21, 32, 3, 0.85) 26%,
            rgba(47, 79, 79, 0.65) 26%, 
            rgba(47, 79, 79, 0.65) 34%,
            rgba(21, 32, 3, 0.85) 34%,
            rgba(21, 32, 3, 0.85) 41%,
            rgba(85, 107, 47, 0.65) 41%, 
            rgba(85, 107, 47, 0.65) 49%,
            rgba(21, 32, 3, 0.85) 49%,
            rgba(21, 32, 3, 0.85) 51%,
            rgba(85, 107, 47, 0.65) 51%,
            rgba(85, 107, 47, 0.65) 59%,
            rgba(21, 32, 3, 0.85) 59%,
            rgba(21, 32, 3, 0.85) 66%,
            rgba(47, 79, 79, 0.65) 66%, 
            rgba(47, 79, 79, 0.65) 67%, 
            rgba(21, 32, 3, 0.85) 67%,
            rgba(21, 32, 3, 0.85) 68%,
            rgba(47, 79, 79, 0.65) 68%, 
            rgba(47, 79, 79, 0.65) 69%,
            rgba(21, 32, 3, 0.85) 69%,
            rgba(21, 32, 3, 0.85) 70%,
            rgba(47, 79, 79, 0.65) 70%,
            rgba(47, 79, 79, 0.65) 78%,
            rgba(21, 32, 3, 0.85) 78%,
            rgba(21, 32, 3, 0.85) 79%,
            rgba(47, 79, 79, 0.65) 79%, 
            rgba(47, 79, 79, 0.65) 80%,
            rgba(21, 32, 3, 0.85) 80%,
            rgba(21, 32, 3, 0.85) 81%,
            rgba(47, 79, 79, 0.65) 81%,
            rgba(47, 79, 79, 0.65) 82%,
            rgba(21, 32, 3, 0.85) 82%,
            rgba(21, 32, 3, 0.85) 89%,
            rgba(85, 107, 47, 0.65) 89%, 
            rgba(85, 107, 47, 0.65) 97%,
            rgba(21, 32, 3, 0.85) 97%,
            rgba(21, 32, 3, 0.85) 99%
        );
        margin: 0 -1vw 0;
        padding: 8vh 0 0 0;
}

.tartan {
    background-image: 
    repeating-linear-gradient(
        rgba(85, 107, 47, 0.65) 0%,
        rgba(85, 107, 47, 0.65) 8%,
        rgba(21, 32, 3, 0.85) 8%,
        rgba(21, 32, 3, 0.85) 15%,
        rgba(47, 79, 79, 0.65) 15%, 
        rgba(47, 79, 79, 0.65) 23%,
        rgba(21, 32, 3, 0.85) 23%,
        rgba(21, 32, 3, 0.85) 24%,
        rgba(47, 79, 79, 0.65) 24%, 
        rgba(47, 79, 79, 0.65) 25%, 
        rgba(21, 32, 3, 0.85) 25%,
        rgba(21, 32, 3, 0.85) 26%,
        rgba(47, 79, 79, 0.65) 26%, 
        rgba(47, 79, 79, 0.65) 34%,
        rgba(21, 32, 3, 0.85) 34%,
        rgba(21, 32, 3, 0.85) 41%,
        rgba(85, 107, 47, 0.65) 41%, 
        rgba(85, 107, 47, 0.65) 49%,
        rgba(21, 32, 3, 0.85) 49%,
        rgba(21, 32, 3, 0.85) 51%,
        rgba(85, 107, 47, 0.65) 51%,
        rgba(85, 107, 47, 0.65) 59%,
        rgba(21, 32, 3, 0.85) 59%,
        rgba(21, 32, 3, 0.85) 66%,
        rgba(47, 79, 79, 0.65) 66%, 
        rgba(47, 79, 79, 0.65) 67%, 
        rgba(21, 32, 3, 0.85) 67%,
        rgba(21, 32, 3, 0.85) 68%,
        rgba(47, 79, 79, 0.65) 68%, 
        rgba(47, 79, 79, 0.65) 69%,
        rgba(21, 32, 3, 0.85) 69%,
        rgba(21, 32, 3, 0.85) 70%,
        rgba(47, 79, 79, 0.65) 70%,
        rgba(47, 79, 79, 0.65) 78%,
        rgba(21, 32, 3, 0.85) 78%,
        rgba(21, 32, 3, 0.85) 79%,
        rgba(47, 79, 79, 0.65) 79%, 
        rgba(47, 79, 79, 0.65) 80%,
        rgba(21, 32, 3, 0.85) 80%,
        rgba(21, 32, 3, 0.85) 81%,
        rgba(47, 79, 79, 0.65) 81%,
        rgba(47, 79, 79, 0.65) 82%,
        rgba(21, 32, 3, 0.85) 82%,
        rgba(21, 32, 3, 0.85) 89%,
        rgba(85, 107, 47, 0.65) 89%, 
        rgba(85, 107, 47, 0.65) 97%,
        rgba(21, 32, 3, 0.85) 97%,
        rgba(21, 32, 3, 0.85) 99%
    );
    background-size: 1px 115vh;

}

iframe {
    background-color: white;
    height: 37vh;
    width: 44vw;
    margin: 42vh 2vw 100vh;
}











footer {
    position: fixed;
    left: 0;
    bottom: -2vh;
    width: 110%;
    color: white;
    text-align: center;
}

.has-border {
    border-radius: 25px;
    border: 2px solid #d9f5d8;
    background: olivedrab;
    margin: 1vh 46vw;
  }
  




/* 
  rgba(85, 107, 47, 0.65) 50%,
  rgba(85, 107, 47, 0.65) 58%,
  rgba(21, 32, 3, 0.85) 58%,
  rgba(21, 32, 3, 0.85) 65%,

  rgba(47, 79, 79, 0.65) 65%, 
  rgba(47, 79, 79, 0.65) 66%, 
  rgba(21, 32, 3, 0.85) 66%,
  rgba(21, 32, 3, 0.85) 67%,
  rgba(47, 79, 79, 0.65) 67%, 
  rgba(47, 79, 79, 0.65) 75%,
  rgba(21, 32, 3, 0.85) 75%,
  rgba(21, 32, 3, 0.85) 76%,
  
  rgba(47, 79, 79, 0.65) 76%,
  rgba(47, 79, 79, 0.65) 84%,

  rgba(21, 32, 3, 0.85) 84%,
  rgba(21, 32, 3, 0.85) 85%,
  rgba(47, 79, 79, 0.65) 85%, 
  rgba(47, 79, 79, 0.65) 86%,
  rgba(21, 32, 3, 0.85) 86%,
  rgba(21, 32, 3, 0.85) 87%,
  rgba(47, 79, 79, 0.65) 87%,
  rgba(47, 79, 79, 0.65) 88%,

  rgba(21, 32, 3, 0.85) 88%,
  rgba(21, 32, 3, 0.85) 96%,
  rgba(85, 107, 47, 0.65) 96%, 
  rgba(85, 107, 47, 0.65) 100%

 */

