





body {
    font-family: "Poppins";
}

.logo {
  width: 5.5vw;
  height: 6.5vh;
  margin: 1.5vh 0.5vw;
}

header {
  background-color: rgb(252, 245, 221);
  display: grid;
  position: fixed;
  grid-template-columns: 30% 70%;
  width: 93.5%;
  margin: -2vh -1vw;
  padding: 0 4vw;
}

nav {
  background-color: rgb(247, 241, 214);
  display: flex;
  justify-content: flex-end;
  margin: -2vh 0 2vh -4vw;
  border-radius: 0.5vw;
  width: 100%;
  padding-right: 1vh 0 -1vh;
}

nav > a {
  margin: 3vh 3vw 0.2vh;
  height: 1.5vh;
  width: 10vw;
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.4vw;
  border-radius: 15px;
  background: rgb(255, 252, 252, 0.3);
  padding: 0.9vw 0.9vw 1.4vw;
  text-align: center;
  border: 2px solid rgba(0, 0, 0, 0.027);
}

.has-border {
  border-radius: 25px;
  border: 2px solid #d9f5d8;
  background: rgba(149, 248, 157, 0.349);
  padding: 0.9vw 0.9vw 1.4vw;
}

.banner {
  background-image: url("../images/img_campbellTartan.gif");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: 110vw 260vh;
  padding: 20vh 0;
  margin: 0 -1vw;
  border-style: none solid;
  border-color: rgba(85, 107, 47, 0.5);
  border-width: 3vw;
}

.sidenav {
  width: 18vw;
  position: fixed;
  z-index: 1;
  top: 50vh;
  left: 10px;
  background: rgba(12, 116, 45, 0.76);
  overflow-x: hidden;
  padding: 8px 0;
}

.sidenavs {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 2vw;
  color: white;
  display: block;
}

.sidenav a {
  text-decoration: underline;
  font-size: 2vw;
  color: white;
  display: block;
}

.title {
  background-color: rgba(255, 255, 255, 0.349);
  font-size: 5vw;
  line-height: 0.3;
  text-align: center;
  margin: 10vh 10vw;
  padding: 0.01vh 0;
}

.brief {
  background-color: rgba(0, 128, 0, 0.329);
  margin: -5.5vh -1vh 0;
  padding: -1vh 1vw 1vh;
  border-style: none solid double;
  border-color: rgba(85, 107, 47, 0.5);
  border-width: 0 3vw 2vh;
}

.brief_title {
  text-align: center;
  font-size: 3vw;
}

.brief_text {
  text-align: center;
  font-size: 1.8vw;
  margin: -5vh 22vw 1vh;
  padding: 0 0 5vh 1vw;
}

.skills {
  background-color: rgb(252, 245, 221);
  margin: -5.5vh -1vh 0;
  padding: -1vh 1vw 1vh;
  border-style: none solid ridge;
  border-color: rgba(85, 107, 47, 0.5);
  border-width: 2vh 3vw;
}

.skills_title {
  text-align: center;
  font-size: 3vw;
}

.proficient_title {
  text-align: center;
  font-size: 2vw;
  margin: -5vh 0 1vh;
}

.proficient_text {
  text-align: center;
  font-size: 1.8vw;
  margin: -2vh 0 1vh;
  padding: 0 0 5vh 1vw;
}

.familiar_title {
  text-align: center;
  font-size: 2vw;
  margin: -8vh 0 1vh;
}

.familiar_text {
  text-align: center;
  font-size: 1.8vw;
  margin: -2vh 0 1vh;
  padding: 0 0 5vh 1vw;
}

.education {
  background-color: rgb(255, 252, 252);
  margin: -5.5vh -1vh 0;
  padding: -1vh 1vw 1vh;
  border-style: none solid groove;
  border-color: rgba(85, 107, 47, 0.5);
  border-width: 0 3vw 2vh;
}

.education_title {
  text-align: center;
  font-size: 3vw;
}

.LCA_title {
  text-align: center;
  font-size: 2vw;
  margin: -5vh 0 1vh;
}

.LCA_text {
  text-align: center;
  font-size: 1.8vw;
  margin: -2vh 0 1vh;
  padding: 0 0 5vh 1vw;
}

.AMU_title {
  text-align: center;
  font-size: 2vw;
  margin: -8vh 0 1vh;
}

.AMU_text {
  text-align: center;
  font-size: 1.8vw;
  margin: -2vh 0 1vh;
  padding: 0 0 5vh 1vw;
}

.experience {
  background-color: ghostwhite;
  margin: -5.5vh -1vh 0;
  padding: -1vh 1vw 1vh;
  border-style: none solid double;
  border-color: rgba(85, 107, 47, 0.5);
  border-width: 0 3vw 10vh;
}

.experience_title {
  text-align: center;
  font-size: 3vw;
}

.app_admin_title {
  text-align: center;
  font-size: 2vw;
  margin: -5vh 0 1vh;
}

.app_admin_text {
  text-align: center;
  font-size: 1.8vw;
  margin: -2vh 0 1vh;
  padding: 0 0 5vh 1vw;
}

.volunteer_title {
  text-align: center;
  font-size: 2vw;
  margin: -8vh 0 1vh;
}

.volunteer_text {
  text-align: center;
  font-size: 1.8vw;
  margin: -2vh 0 1vh;
  padding: 0 0 5vh 1vw;
}

.accessioner_title {
  text-align: center;
  font-size: 2vw;
  margin: -8vh 0 1vh;
}

.accessioner_text {
  text-align: center;
  font-size: 1.8vw;
  margin: -2vh 0 1vh;
  padding: 0 0 5vh 1vw;
}

.ops_title {
  text-align: center;
  font-size: 2vw;
  margin: -8vh 0 1vh;
}

.ops_text {
  text-align: center;
  font-size: 1.8vw;
  margin: -2vh 0 1vh;
  padding: 0 0 5vh 1vw;
}

@media (max-width: 777px) {

  nav > a {
    font-size: 2vw;
    padding: 1.5vh 0.9vw 4vh;
  }
  
  .sidenav {
    padding: 0;
    width: 20vw;
    top: 15vh;
  }
  
  .sidenavs {
    padding: 0;
    font-size: 3vw;
  }

  .sidenav a {
    padding: 0;
    font-size: 3vw;
  }
  
}

@media (max-height: 777px) {

  .sidenav {
    padding: 0;
    width: 20vw;
    top: 15vh;
  }

}

@media (max-width: 550px) {
  
  nav > a {
    font-size: 4vw;
    padding: 1.5vh 5vw 6vh 0;
  }

  main {
    grid-template-columns: 1% 98% 1%;
  }
    

}





