




h1 {
    background-color: rgb(1,73,77);
    color: white;
}


.welcome {
    height: 20em;
    background-image: url(../images/img_fellowLogo.JPG);
    background-repeat: no-repeat;
    background-position: bottom left;
    background-
}

